.App {
  text-align: center;
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  flex-direction: column;
}
form {
  display: flex;
  flex-direction: column;
}
.house_info_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70vw;
  border: 2px solid black;
}
img {
  max-height: 200px;
}
